<div>
    <h2 data-translate="atlasApp.norma.home.title">Normas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="norma.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="atlasApp.norma.home.createLabel">
                        Create new Norma
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'atlasApp.norma.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaFirma"><span data-translate="atlasApp.norma.fechaFirma">Fecha Firma</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaRatifica"><span data-translate="atlasApp.norma.fechaRatifica">Fecha Ratifica</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaIniVigor"><span data-translate="atlasApp.norma.fechaIniVigor">Fecha Ini Vigor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaFinVigor"><span data-translate="atlasApp.norma.fechaFinVigor">Fecha Fin Vigor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="firmantes"><span data-translate="atlasApp.norma.firmantes">Firmantes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaAlta"><span data-translate="atlasApp.norma.fechaAlta">Fecha Alta</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaModificacion"><span data-translate="atlasApp.norma.fechaModificacion">Fecha Modificacion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="jhiUserId"><span data-translate="atlasApp.norma.jhiUserId">Jhi User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="activo"><span data-translate="atlasApp.norma.activo">Activo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estatusCat.id"><span data-translate="atlasApp.norma.estatusCat">Estatus Cat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paisCat.id"><span data-translate="atlasApp.norma.paisCat">Pais Cat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipoNormaCat.id"><span data-translate="atlasApp.norma.tipoNormaCat">Tipo Norma Cat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="norma in vm.normas track by norma.id">
                    <td><a ui-sref="norma-detail({id:norma.id})">{{norma.id}}</a></td>
                        <td>{{norma.fechaFirma | date:'mediumDate'}}</td>
                        <td>{{norma.fechaRatifica | date:'mediumDate'}}</td>
                        <td>{{norma.fechaIniVigor | date:'mediumDate'}}</td>
                        <td>{{norma.fechaFinVigor | date:'mediumDate'}}</td>
                    <td>{{norma.firmantes}}</td>
                        <td>{{norma.fechaAlta | date:'mediumDate'}}</td>
                        <td>{{norma.fechaModificacion | date:'mediumDate'}}</td>
                    <td>{{norma.jhiUserId}}</td>
                    <td>{{norma.activo}}</td>
                    <td>
                        <a ui-sref="estatus-cat-detail({id:norma.estatusCat.id})">{{norma.estatusCat.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="pais-cat-detail({id:norma.paisCat.id})">{{norma.paisCat.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="tipo-norma-cat-detail({id:norma.tipoNormaCat.id})">{{norma.tipoNormaCat.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="norma-detail({id:norma.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="norma.edit({id:norma.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="norma.delete({id:norma.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
